<div class="carousel slide" data-bs-ride="carousel" data-interval="5000" id="carouselImages">
    <div class="carousel-indicators">
        <button class="button active" data-bs-target="#carouselImages" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
        <button class="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button class="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/carousel1.jpg" class="d-block w-100" alt="Blueberry pie">
        </div>
        <div class="carousel-item">
            <img src="~/Images/carousel2.jpg" class="d-block w-100" alt="Sharing raspberry pie and coffee">
        </div>
        <div class="carousel-item">
            <img src="~/Images/carousel3.jpg" class="d-block w-100" alt="Fruit pie">
        </div>
    </div>
</div>
