@if (ViewData["user"] != null)
{
    <li class="nav-item">
        <a class="nav-link text-dark">My hello, @ViewData["user"]</a>
    </li>
    <li class="nav-item>">
        <a class="nav-link text dark" asp-controller="UserManagement" asp-action="MyLogout">MyLogout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="UserManagement" asp-action="MyRegister" asp-route-returnUrl="@Context.Request.Path.ToString()">MyRegister</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="UserManagement" asp-action="MyLogin" asp-route-returnUrl="@Context.Request.Path.ToString()">MyLogin</a>
    </li>
}
